
<section>
    <div class="mt-5 text-center">
        <h1 class="text-danger">Club Deportivo</h1>
    </div>
    <div class="container w-50 mt-5">
        {{>form}}
    </div>  
</section>

<section>
    <div class="mt-5 text-center">
        <h2 class="text-danger">Registro de Deportes</h2>
    </div>
    <div class="container-fluid mt-5">
        {{>table}}
    </div>  
</section>